<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.upc.whatsapp"
          android:versionCode="1"
          android:versionName="1.0">
    
     <uses-sdk android:minSdkVersion="17"
          android:targetSdkVersion="17"
          android:maxSdkVersion="17" />
          
    <uses-permission android:name="android.permission.INTERNET" />   
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
          
    <application android:name="._GlobalState"
                 android:label="@string/app_name" 
                 android:hardwareAccelerated="true" 
                 android:theme="@style/AppTheme">
        
        <activity android:name="a_WelcomeActivity"
                  android:label="@string/app_name"
                    android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="b_LoginActivity" 
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label="Login Form"
            >
        </activity>
        <activity android:name="c_RegistrationActivity" android:label="Sign up Form"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".d_UsersListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".d_UsersListActivity_New"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest> 
